<a href="https://colab.research.google.com/github/rpdieego/IndigoTortoise-pkmn-notebooks/blob/master/Battle_Predictor_IndigoTortoise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import relevant libraries

import pandas as pd
import numpy as np

%matplotlib inline
import seaborn as sns

In [3]:
# import .csv files

pkmn_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_pokemon.csv'
combats_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_combats.csv'
tests_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_tests.csv'
types_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/types.csv'
pkmn_combat_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/pkmn_combat.csv'


pkmn_df = pd.read_csv(pkmn_url)
combats_df = pd.read_csv(combats_url)
tests_df = pd.read_csv(tests_url)
types_df = pd.read_csv(types_url)
combat_data_df = pd.read_csv(pkmn_combat_url)

# Checking the dimensions of each dataframe

print('Pokemon dataframe (pkmn_df): \n Features: \t {} \n Inputs: \t {}'.format(pkmn_df.shape[1], pkmn_df.shape[0]))
print('\n')
print('Combats dataframe (combats_df): \n Features: \t {} \n Inputs: \t {}'.format(combats_df.shape[1], combats_df.shape[0]))
print('\n')
print('Tests dataframe (tests_df): \n Features: \t {} \n Inputs: \t {}'.format(tests_df.shape[1], tests_df.shape[0]))
print('\n')
print('Types dataframe (types_df): \n Features: \t {} \n Inputs: \t {}'.format(types_df.shape[1], types_df.shape[0]))
print('\n')
print('Combat dataframe (combat_data_df): \n Features: \t {} \n Inputs: \t {}'.format(combat_data_df.shape[1], combat_data_df.shape[0]))
print('\n')

Pokemon dataframe (pkmn_df):
 Features: 	 12
 Inputs: 	 800


Combats dataframe (combats_df):
 Features: 	 3
 Inputs: 	 50000


Tests dataframe (tests_df):
 Features: 	 2
 Inputs: 	 10000


Types dataframe (types_df):
 Features: 	 19
 Inputs: 	 18


Combat dataframe (combat_data_df):
 Features: 	 35
 Inputs: 	 50000