<a href="https://colab.research.google.com/github/rpdieego/IndigoTortoise-pkmn-notebooks/blob/master/Battle_Predictor_IndigoTortoise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# import relevant libraries

import pandas as pd
import numpy as np

%matplotlib inline
import seaborn as sns

In [4]:
# import .csv files

pkmn_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_pokemon.csv'
combats_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_combats.csv'
tests_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_tests.csv'
types_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/types.csv'
pkmn_combat_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/pkmn_combat.csv'


pkmn_df = pd.read_csv(pkmn_url)
combats_df = pd.read_csv(combats_url)
tests_df = pd.read_csv(tests_url)
types_df = pd.read_csv(types_url)
combat_data_df = pd.read_csv(pkmn_combat_url)

# Checking the dimensions of each dataframe

print('Pokemon dataframe (pkmn_df): \n Features: \t {} \n Inputs: \t {}'.format(pkmn_df.shape[1], pkmn_df.shape[0]))
print('\n')
print('Combats dataframe (combats_df): \n Features: \t {} \n Inputs: \t {}'.format(combats_df.shape[1], combats_df.shape[0]))
print('\n')
print('Tests dataframe (tests_df): \n Features: \t {} \n Inputs: \t {}'.format(tests_df.shape[1], tests_df.shape[0]))
print('\n')
print('Types dataframe (types_df): \n Features: \t {} \n Inputs: \t {}'.format(types_df.shape[1], types_df.shape[0]))
print('\n')
print('Combat dataframe (combat_data_df): \n Features: \t {} \n Inputs: \t {}'.format(combat_data_df.shape[1], combat_data_df.shape[0]))
print('\n')

Pokemon dataframe (pkmn_df):
 Features: 	 12
 Inputs: 	 800


Combats dataframe (combats_df):
 Features: 	 3
 Inputs: 	 50000


Tests dataframe (tests_df):
 Features: 	 2
 Inputs: 	 10000


Types dataframe (types_df):
 Features: 	 19
 Inputs: 	 18


Combat dataframe (combat_data_df):
 Features: 	 35
 Inputs: 	 50000

In [5]:
pkmn_df.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [7]:
combats_df.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [9]:
tests_df.head()

   First_pokemon  Second_pokemon
0            129             117
1            660             211
2            706             115
3            195             618
4             27             656

In [10]:
types_df.head()

       Type  Normal  Fire  Water  Electric  ...  Ghost  Dragon  Dark  Steel  Fairy
0    Normal       1   1.0    1.0       1.0  ...    0.0     1.0   1.0    0.5    1.0
1      Fire       1   0.5    0.5       1.0  ...    1.0     0.5   1.0    2.0    1.0
2     Water       1   2.0    0.5       1.0  ...    1.0     0.5   1.0    1.0    1.0
3  Electric       1   1.0    2.0       0.5  ...    1.0     0.5   1.0    1.0    1.0
4     Grass       1   0.5    2.0       1.0  ...    1.0     0.5   1.0    0.5    1.0

[5 rows x 19 columns]

In [11]:
combat_data_df.head()

   First_pokemon  Second_pokemon  Winner  ...  Lgnd_2  Prio  Pkmn_1_win
0            266             298     298  ...       0     1           0
1            702             701     701  ...       1     0           0
2            191             668     668  ...       0     0           0
3            237             683     683  ...       0     1           0
4            151             231     151  ...       0     0           1

[5 rows x 35 columns]